In [1]:
'''
Project Description
In this project, I aim to perform a comprehensive data cleaning and merging process for two distinct comic book character datasets: Marvel and DC. The project involves the following key steps:

Data Cleaning:

Marvel Dataset: The Marvel dataset is cleaned by handling missing values, dropping unnecessary columns, and converting data types to ensure consistency. Text data is standardized to lower case, and duplicate entries are removed.
DC Dataset: Similarly, the DC dataset undergoes data cleaning, including handling missing values, dropping columns with excessive missing data, and ensuring consistency in data types. Additionally, text fields are standardized, and dates are processed to extract relevant information.
Data Merging:

After cleaning, the Marvel and DC datasets are merged to create a unified dataset. This involves aligning common columns, handling potential conflicts, and ensuring that all relevant data from both datasets are preserved. The merge is conducted on key attributes such as character names and other relevant features.
Final Outputs:

The project results in three key outputs: cleaned Marvel data, cleaned DC data, and a merged dataset that combines information from both sources. These outputs are saved as CSV files for further analysis and use.
The goal of this project is to provide a clean and integrated dataset that facilitates more comprehensive analysis and insights into comic book characters from both the Marvel and DC universes.


'''

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import StandardScaler

# Input data files are available in the read-only "../input/" directory
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Start with Marvel Dataset
marvel_data_df = pd.read_csv("/kaggle/input/fivethirtyeight-comic-characters-dataset/marvel-wikia-data.csv")

# Inspect data
print(marvel_data_df.head())
print(marvel_data_df.info())

# Check for missing values
print(marvel_data_df.isnull().sum())

# Handle Missing Values
marvel_data_df = marvel_data_df.drop(columns=['ID'])

# Fill missing values with a placeholder 'Unknown'
marvel_data_df['ALIGN'] = marvel_data_df['ALIGN'].fillna('Unknown')
marvel_data_df['EYE'] = marvel_data_df['EYE'].fillna('Unknown')
marvel_data_df['HAIR'] = marvel_data_df['HAIR'].fillna('Unknown')
marvel_data_df['SEX'] = marvel_data_df['SEX'].fillna('Unknown')
marvel_data_df['ALIVE'] = marvel_data_df['ALIVE'].fillna('Unknown')
marvel_data_df['FIRST APPEARANCE'] = marvel_data_df['FIRST APPEARANCE'].fillna('Unknown')

# Drop 'GSM' column as it has very few non-null values
marvel_data_df = marvel_data_df.drop(columns=['GSM'])

# Fill missing values with a placeholder 0 
marvel_data_df['APPEARANCES'] = marvel_data_df['APPEARANCES'].fillna(0)
marvel_data_df['Year'] = marvel_data_df['Year'].fillna(0)

# Remove duplicates
marvel_data_df = marvel_data_df.drop_duplicates()

# Convert Data Types to int
marvel_data_df['Year'] = marvel_data_df['Year'].astype(int)
marvel_data_df['APPEARANCES'] = marvel_data_df['APPEARANCES'].astype(int)

# Standardize Text Data
for col in ['ALIGN', 'EYE', 'HAIR', 'SEX']:
    marvel_data_df[col] = marvel_data_df[col].str.lower()

# Save Cleaned Marvel Data
marvel_data_df.to_csv('cleaned_marvel_data.csv', index=False)

# Proceed with DC Dataset
dc_data_df = pd.read_csv("/kaggle/input/fivethirtyeight-comic-characters-dataset/dc-wikia-data.csv")

# Inspect data
print(dc_data_df.head())
print(dc_data_df.info())

# Check for missing values
print(dc_data_df.isnull().sum())

# Handle Missing Values

# Drop 'ID' column as it has too many missing values
dc_data_df = dc_data_df.drop(columns=['ID'])

# Fill missing values with 'Unknown'
dc_data_df['ALIGN'] = dc_data_df['ALIGN'].fillna('Unknown')
dc_data_df['EYE'] = dc_data_df['EYE'].fillna('Unknown')
dc_data_df['HAIR'] = dc_data_df['HAIR'].fillna('Unknown')
dc_data_df['SEX'] = dc_data_df['SEX'].fillna('Unknown')
dc_data_df['FIRST APPEARANCE'] = dc_data_df['FIRST APPEARANCE'].fillna('Unknown')

# Drop 'GSM' column as it has very few non-null values
dc_data_df = dc_data_df.drop(columns=['GSM'])

# Fill missing values with 0
dc_data_df['APPEARANCES'] = dc_data_df['APPEARANCES'].fillna(0)
dc_data_df['YEAR'] = dc_data_df['YEAR'].fillna(0)

# Remove duplicates
dc_data_df = dc_data_df.drop_duplicates()

# Convert Data Types to int
dc_data_df['YEAR'] = dc_data_df['YEAR'].astype(int)
dc_data_df['APPEARANCES'] = dc_data_df['APPEARANCES'].astype(int)

# Standardize Text Data
for col in ['ALIGN', 'EYE', 'HAIR', 'SEX']:
    dc_data_df[col] = dc_data_df[col].str.lower()

# Extract year from 'FIRST APPEARANCE'
dc_data_df['First_Appearance_Year'] = pd.to_datetime(dc_data_df['FIRST APPEARANCE'], errors='coerce').dt.year

# Check for Data Consistency
#inconsistent_years = dc_data_df[dc_data_df['YEAR'] < dc_data_df['First_Appearance_Year']]
#print("Inconsistent Years:\n", inconsistent_years)

# Ensure 'YEAR' is within a reasonable range
#assert dc_data_df['YEAR'].between(1900, 2024).all(), "Some years are out of range"

# Save Cleaned DC Data
dc_data_df.to_csv('cleaned_dc_data.csv', index=False)

# Merge Marvel and DC Data
# Rename columns to avoid conflicts and make merging smoother
marvel_data_df = marvel_data_df.rename(columns={'Year': 'YEAR', 'APPEARANCES': 'MARVEL_APPEARANCES'})
dc_data_df = dc_data_df.rename(columns={'APPEARANCES': 'DC_APPEARANCES'})

# Merge datasets
merged_data_df = pd.merge(marvel_data_df, dc_data_df, on=['name', 'ALIGN', 'EYE', 'HAIR', 'SEX'], how='outer', suffixes=('_Marvel', '_DC'))

# Inspect the merged data
print(merged_data_df.head())
print(merged_data_df.info())

# Save Merged Data
merged_data_df.to_csv('merged_marvel_dc_data.csv', index=False)


# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fivethirtyeight-comic-characters-dataset/marvel-wikia-data.csv
/kaggle/input/fivethirtyeight-comic-characters-dataset/README.md
/kaggle/input/fivethirtyeight-comic-characters-dataset/dc-wikia-data.csv
   page_id                                 name  \
0     1678            Spider-Man (Peter Parker)
1     7139      Captain America (Steven Rogers)
2    64786  Wolverine (James \"Logan\" Howlett)
3     1868    Iron Man (Anthony \"Tony\" Stark)
4     2460                  Thor (Thor Odinson)

                                   urlslug                ID  \
0              \/Spider-Man_(Peter_Parker)   Secret Identity
1        \/Captain_America_(Steven_Rogers)   Public Identity
2  \/Wolverine_(James_%22Logan%22_Howlett)   Public Identity
3    \/Iron_Man_(Anthony_%22Tony%22_Stark)   Public Identity
4                    \/Thor_(Thor_Odinson)  No Dual Identity

                ALIGN         EYE        HAIR              SEX  GSM  \
0     Good Characters  Hazel Eyes  Brown Hair  Male Characters  NaN
1     Good Characters   Blue Eyes  White Hair  Male Characters  NaN
2  Neutral Characters   Blue Eyes  Black Hair  Male Characters  NaN
3     Good Characters   Blue Eyes  Black Hair  Male Characters  NaN
4     Good Characters   Blue Eyes  Blond Hair  Male Characters  NaN

               ALIVE  APPEARANCES FIRST APPEARANCE    Year
0  Living Characters       4043.0           Aug-62  1962.0
1  Living Characters       3360.0           Mar-41  1941.0
2  Living Characters       3061.0           Oct-74  1974.0
3  Living Characters       2961.0           Mar-63  1963.0
4  Living Characters       2258.0           Nov-50  1950.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           16376 non-null  int64
 1   name              16376 non-null  object
 2   urlslug           16376 non-null  object
 3   ID                12606 non-null  object
 4   ALIGN             13564 non-null  object
 5   EYE               6609 non-null   object
 6   HAIR              12112 non-null  object
 7   SEX               15522 non-null  object
 8   GSM               90 non-null     object
 9   ALIVE             16373 non-null  object
 10  APPEARANCES       15280 non-null  float64
 11  FIRST APPEARANCE  15561 non-null  object
 12  Year              15561 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB
None
page_id                 0
name                    0
urlslug                 0
ID                   3770
ALIGN                2812
EYE                  9767
HAIR                 4264
SEX                   854
GSM                 16286
ALIVE                   3
APPEARANCES          1096
FIRST APPEARANCE      815
Year                  815
dtype: int64
   page_id                         name                              urlslug  \
0     1422         Batman (Bruce Wayne)         \/wiki\/Batman_(Bruce_Wayne)
1    23387        Superman (Clark Kent)        \/wiki\/Superman_(Clark_Kent)
2     1458   Green Lantern (Hal Jordan)   \/wiki\/Green_Lantern_(Hal_Jordan)
3     1659     James Gordon (New Earth)     \/wiki\/James_Gordon_(New_Earth)
4     1576  Richard Grayson (New Earth)  \/wiki\/Richard_Grayson_(New_Earth)

                ID            ALIGN         EYE        HAIR              SEX  \
0  Secret Identity  Good Characters   Blue Eyes  Black Hair  Male Characters
1  Secret Identity  Good Characters   Blue Eyes  Black Hair  Male Characters
2  Secret Identity  Good Characters  Brown Eyes  Brown Hair  Male Characters
3  Public Identity  Good Characters  Brown Eyes  White Hair  Male Characters
4  Secret Identity  Good Characters   Blue Eyes  Black Hair  Male Characters

   GSM              ALIVE  APPEARANCES FIRST APPEARANCE    YEAR
0  NaN  Living Characters       3093.0        1939, May  1939.0
1  NaN  Living Characters       2496.0    1986, October  1986.0
2  NaN  Living Characters       1565.0    1959, October  1959.0
3  NaN  Living Characters       1316.0   1987, February  1987.0
4  NaN  Living Characters       1237.0      1940, April  1940.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6896 entries, 0 to 6895
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           6896 non-null   int64
 1   name              6896 non-null   object
 2   urlslug           6896 non-null   object
 3   ID                4883 non-null   object
 4   ALIGN             6295 non-null   object
 5   EYE               3268 non-null   object
 6   HAIR              4622 non-null   object
 7   SEX               6771 non-null   object
 8   GSM               64 non-null     object
 9   ALIVE             6893 non-null   object
 10  APPEARANCES       6541 non-null   float64
 11  FIRST APPEARANCE  6827 non-null   object
 12  YEAR              6827 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 700.5+ KB
None
page_id                0
name                   0
urlslug                0
ID                  2013
ALIGN                601
EYE                 3628
HAIR                2274
SEX                  125
GSM                 6832
ALIVE                  3
APPEARANCES          355
FIRST APPEARANCE      69
YEAR                  69
dtype: int64

/tmp/ipykernel_33/2543543220.py:113: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dc_data_df['First_Appearance_Year'] = pd.to_datetime(dc_data_df['FIRST APPEARANCE'], errors='coerce').dt.year

   page_id_Marvel                                  name  \
0        322600.0                  'Spinner (Earth-616)
1        116257.0                       107 (Earth-616)
2        543479.0                   11-Ball (Earth-616)
3        624448.0  115 (Legion Personality) (Earth-616)
4        116253.0                        14 (Earth-616)

                           urlslug_Marvel               ALIGN         EYE  \
0                \/%27Spinner_(Earth-616)     good characters     unknown
1                       \/107_(Earth-616)  neutral characters  green eyes
2                   \/11-Ball_(Earth-616)      bad characters     unknown
3  \/115_(Legion_Personality)_(Earth-616)  neutral characters   blue eyes
4                        \/14_(Earth-616)      bad characters     unknown

         HAIR                SEX       ALIVE_Marvel  MARVEL_APPEARANCES  \
0     unknown    male characters  Living Characters                 0.0
1     unknown    male characters  Living Characters                 1.0
2     unknown    male characters  Living Characters                 1.0
3  white hair  female characters  Living Characters                 1.0
4     unknown  female characters  Living Characters                 1.0

  FIRST APPEARANCE_Marvel  YEAR_Marvel  page_id_DC urlslug_DC ALIVE_DC  \
0                  Nov-07       2007.0         NaN        NaN      NaN
1                  Nov-94       1994.0         NaN        NaN      NaN
2                  Jul-91       1991.0         NaN        NaN      NaN
3                  Aug-10       2010.0         NaN        NaN      NaN
4                  Nov-94       1994.0         NaN        NaN      NaN

   DC_APPEARANCES FIRST APPEARANCE_DC  YEAR_DC  First_Appearance_Year
0             NaN                 NaN      NaN                    NaN
1             NaN                 NaN      NaN                    NaN
2             NaN                 NaN      NaN                    NaN
3             NaN                 NaN      NaN                    NaN
4             NaN                 NaN      NaN                    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23272 entries, 0 to 23271
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   page_id_Marvel           16376 non-null  float64
 1   name                     23272 non-null  object
 2   urlslug_Marvel           16376 non-null  object
 3   ALIGN                    23272 non-null  object
 4   EYE                      23272 non-null  object
 5   HAIR                     23272 non-null  object
 6   SEX                      23272 non-null  object
 7   ALIVE_Marvel             16376 non-null  object
 8   MARVEL_APPEARANCES       16376 non-null  float64
 9   FIRST APPEARANCE_Marvel  16376 non-null  object
 10  YEAR_Marvel              16376 non-null  float64
 11  page_id_DC               6896 non-null   float64
 12  urlslug_DC               6896 non-null   object
 13  ALIVE_DC                 6893 non-null   object
 14  DC_APPEARANCES           6896 non-null   float64
 15  FIRST APPEARANCE_DC      6896 non-null   object
 16  YEAR_DC                  6896 non-null   float64
 17  First_Appearance_Year    6825 non-null   float64
dtypes: float64(7), object(11)
memory usage: 3.2+ MB
None